div{
  background:skyblue;
  padding:10px 20px;
  margin-bottom:20px;
}
.two{
  background-color:aqua;
}
.three{
  background-color: rgb(189, 186, 248);
}
.title{
  text-align: center;
  color:aliceblue;
}
#four{
  background:rgb(144, 205, 144);
}